<ion-header>
  <ion-navbar>
    <ion-title>Seu Imovel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="residenciaForm">
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="kind">
        <ion-option [value]="'house'">Casa</ion-option>
        <ion-option [value]="'apartment'">Apartamento</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Venda ?</ion-label>
      <ion-checkbox formControlName="for_sale"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Preço para venda</ion-label>
      <ion-input formControlName="sell_price" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Aluguel ?</ion-label>
      <ion-checkbox formControlName="for_rent"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Preço para Aluguel</ion-label>
      <ion-input formControlName="rent_price" type="number"></ion-input>
    </ion-item>
    <div formGroupName="address">
      <ion-item>
        <ion-label>CEP</ion-label>
        <ion-input formControlName="zipcode" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select formControlName="state">
          <ion-option *ngFor="let estado of estados$ | async" [value]="estado.sigla">{{estado.sigla}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bairro</ion-label>
        <ion-input formControlName="neighborhood" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rua</ion-label>
        <ion-input formControlName="street_name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Numero</ion-label>
        <ion-input formControlName="street_number" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Complemento / Apartamento</ion-label>
        <ion-input formControlName="apartment" type="text"></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-label>Área (m²)</ion-label>
      <ion-input formControlName="area" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Número de Quartos</ion-label>
      <ion-input formControlName="number_of_rooms" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Número de Banheiros</ion-label>
      <ion-input formControlName="number_of_bathrooms" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Vagas de Garagem</ion-label>
      <ion-input formControlName="number_of_parking_lots" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button type="button" (click)="showImagePicker()">Selecionar Imagens</button>
    </ion-item>
    <ion-item *ngFor="let image of images; let i = index">
      <button ion-button color="danger" (click)="removeImage(i)">
        <ion-icon name="close"></ion-icon>
      </button>
      <img [src]="image[0] + ',' + image[1]" alt="Select Image"/>
    </ion-item>
    <button ion-button class="submit-btn" full type="button" (click)="salvar()" [disabled]="!residenciaForm.valid">
      Salvar
    </button>
  </form>
</ion-content>
