<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="openFilter()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Residencias para Você</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-6>
        <button (click)="refresh()" ion-button float-right>
          <ion-icon name="refresh"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card" ion-item *ngFor="let item of imoveis$ | async">
    <ion-card-content>
      <div>Tipo de imovel: {{item?.kind == 'house' ? 'Casa' : 'Apartamento' }}</div>
      <div *ngIf="item.for_sale">Preço para venda: {{item.sell_price}}</div>
      <div *ngIf="item.for_rent">Preço do Aluguel: {{item.rent_price}}</div>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button (click)="showInfo(item.id)" ion-button clear small color="danger" icon-start>
          <ion-icon name="information-circle"></ion-icon>
          Informações
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
