<ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>{{residencia?.address?.street_name}}, {{residencia?.address?.street_number}} - {{residencia?.address?.city}}</h2>

  <ion-card class="card-slide">
    <ion-card-header>
      <ion-icon class="ion-icon" name="ios-cash-outline"></ion-icon>
      <h3>
        <b>{{residencia?.kind == 'house' ? 'Casa' : 'Apartamento'}}</b>
      </h3>
      <h3>
        <b *ngIf="residencia?.for_sale">Preço para Compra: R${{residencia?.sell_price}}</b>
      </h3>
      <h3>
        <b *ngIf="residencia?.for_rent">Preço para Aluguel: R${{residencia?.rent_price}}</b>
      </h3>
    </ion-card-header>
  </ion-card>

  <ion-item-group class="item-group">
    <ion-item-divider color="light">
      <ion-icon class="ion-icon-down" name="ios-information-circle-outline"></ion-icon>
      <p>
        <b>INFORMAÇÕES DO IMÓVEL</b>
      </p>
    </ion-item-divider>
    <ion-item>
      <b>Vagas de Garagem:</b> {{residencia?.number_of_parking_lots}}
    </ion-item>
    <ion-item>
      <b>Quartos:</b> {{residencia?.number_of_rooms}}
    </ion-item>
    <ion-item>
      <b>Banheiros:</b> {{residencia?.number_of_bathrooms}}
    </ion-item>
    <ion-item>
      <b>Área total(M²):</b> {{residencia?.area}}
    </ion-item>
  </ion-item-group>
  <br/>
  <ion-item-group class="item-group">
    <ion-item-divider color="light">
      <ion-icon class="ion-icon-down" name="person"></ion-icon>
      <div>
        <b>INFORMAÇÕES DO PROPRIETÁRIO</b>
      </div>
    </ion-item-divider>
    <ion-item>
      <b>Nome:</b> {{residencia?.user?.name}}</ion-item>
    <ion-item>
      <b>E-mail:</b> {{residencia?.user?.email}}</ion-item>
    <ion-item>
      <b>Telefone:</b> {{residencia?.user?.telephone}}</ion-item>
  </ion-item-group>
</ion-content>
